<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryda.mapper.BackroleMapper" >
  <resultMap id="BaseResultMap" type="com.ryda.entity.Backrole" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="profit" property="profit" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role, profit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from backrole
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from backrole
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ryda.entity.Backrole" >
    insert into backrole (id, role, profit
      )
    values (#{id,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{profit,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryda.entity.Backrole" >
    insert into backrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="profit != null" >
        profit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryda.entity.Backrole" >
    update backrole
    <set >
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="profit != null" >
        profit = #{profit,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryda.entity.Backrole" >
    update backrole
    set role = #{role,jdbcType=VARCHAR},
      profit = #{profit,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryBackRole" resultMap="BaseResultMap">
  select * from backrole
  </select>
</mapper>