<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryda.mapper.DiquMapper" >
  <resultMap id="BaseResultMap" type="com.ryda.entity.Diqu" >
    <id column="diqu_id" property="diquId" jdbcType="VARCHAR" />
    <result column="diqu_name" property="diquName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    diqu_id, diqu_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from diqu
    where diqu_id = #{diquId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from diqu
    where diqu_id = #{diquId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ryda.entity.Diqu" >
    insert into diqu (diqu_id, diqu_name)
    values (#{diquId,jdbcType=VARCHAR}, #{diquName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryda.entity.Diqu" >
    insert into diqu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diquId != null" >
        diqu_id,
      </if>
      <if test="diquName != null" >
        diqu_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diquId != null" >
        #{diquId,jdbcType=VARCHAR},
      </if>
      <if test="diquName != null" >
        #{diquName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryda.entity.Diqu" >
    update diqu
    <set >
      <if test="diquName != null" >
        diqu_name = #{diquName,jdbcType=VARCHAR},
      </if>
    </set>
    where diqu_id = #{diquId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryda.entity.Diqu" >
    update diqu
    set diqu_name = #{diquName,jdbcType=VARCHAR}
    where diqu_id = #{diquId,jdbcType=VARCHAR}
  </update>
  
  <select id="queryDiqu" resultType="java.util.Map">
  		select * from diqu
  </select>

  <select id="queryCount" resultType="java.lang.Integer" parameterType="java.lang.String">
    select  count(*)
    from diqu
    where ${_parameter}
  </select>
  <select id="queryDiquForPage" resultType="java.util.Map" parameterType="java.lang.String">
    select *
    from diqu
    where ${_parameter}

  </select>
  
</mapper>