<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryda.mapper.JiazhaoleixingMapper" >
  <resultMap id="BaseResultMap" type="com.ryda.entity.Jiazhaoleixing" >
    <id column="jaizhaoleixing_id" property="jaizhaoleixingId" jdbcType="VARCHAR" />
    <result column="jaizhaoleixing_name" property="jaizhaoleixingName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    jaizhaoleixing_id, jaizhaoleixing_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jiazhaoleixing
    where jaizhaoleixing_id = #{jaizhaoleixingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
  	<!-- SET FOREIGN_KEY_CHECKS = 0;  -->
    delete from jiazhaoleixing
    where jaizhaoleixing_id = #{jaizhaoleixingId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ryda.entity.Jiazhaoleixing" >
    insert into jiazhaoleixing (jaizhaoleixing_id, jaizhaoleixing_name
      )
    values (#{jaizhaoleixingId,jdbcType=VARCHAR}, #{jaizhaoleixingName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryda.entity.Jiazhaoleixing" >
    insert into jiazhaoleixing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jaizhaoleixingId != null" >
        jaizhaoleixing_id,
      </if>
      <if test="jaizhaoleixingName != null" >
        jaizhaoleixing_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jaizhaoleixingId != null" >
        #{jaizhaoleixingId,jdbcType=VARCHAR},
      </if>
      <if test="jaizhaoleixingName != null" >
        #{jaizhaoleixingName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryda.entity.Jiazhaoleixing" >
    update jiazhaoleixing
    <set >
      <if test="jaizhaoleixingName != null" >
        jaizhaoleixing_name = #{jaizhaoleixingName,jdbcType=VARCHAR},
      </if>
    </set>
    where jaizhaoleixing_id = #{jaizhaoleixingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryda.entity.Jiazhaoleixing" >
    update jiazhaoleixing
    set jaizhaoleixing_name = #{jaizhaoleixingName,jdbcType=VARCHAR}
    where jaizhaoleixing_id = #{jaizhaoleixingId,jdbcType=VARCHAR}
  </update>
  <select id="queryJiazhaoleixing" resultMap="BaseResultMap">
  select * from jiazhaoleixing
  </select>
</mapper>