<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryda.mapper.SijiMapper" >
  <resultMap id="BaseResultMap" type="com.ryda.entity.Siji" >
    <id column="siji_id" property="sijiId" jdbcType="VARCHAR" />
    <result column="sijileixig_id" property="sijileixigId" jdbcType="VARCHAR" />
    <result column="jaizhaoleixing_id" property="jaizhaoleixingId" jdbcType="VARCHAR" />
    <result column="diqu_id" property="diquId" jdbcType="VARCHAR" />
    <result column="siji_shoujihao" property="sijiShoujihao" jdbcType="VARCHAR" />
    <result column="siji_suoshudiqu" property="sijiSuoshudiqu" jdbcType="VARCHAR" />
    <result column="siji_chushengriqi" property="sijiChushengriqi" jdbcType="DATE" />
    <result column="siji_xingming" property="sijiXingming" jdbcType="VARCHAR" />
    <result column="siji_jialing" property="sijiJialing" jdbcType="VARCHAR" />
    <result column="siji_nianling" property="sijiNianling" jdbcType="VARCHAR" />
    <result column="dejipingding_id" property="dejipingdingId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    siji_id, sijileixig_id, jaizhaoleixing_id, diqu_id, siji_shoujihao, siji_suoshudiqu,
    siji_chushengriqi, siji_xingming, siji_jialing, siji_nianling, dejipingding_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from siji
    where siji_id = #{sijiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from siji
    where siji_id = #{sijiId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ryda.entity.Siji" >
    insert into siji (siji_id, sijileixig_id, jaizhaoleixing_id,
    diqu_id, siji_shoujihao, siji_suoshudiqu,
    siji_chushengriqi, siji_xingming, siji_jialing,
    siji_nianling, dejipingding_id)
    values (#{sijiId,jdbcType=VARCHAR}, #{sijileixigId,jdbcType=VARCHAR}, #{jaizhaoleixingId,jdbcType=VARCHAR},
    #{diquId,jdbcType=VARCHAR}, #{sijiShoujihao,jdbcType=VARCHAR}, #{sijiSuoshudiqu,jdbcType=VARCHAR},
    #{sijiChushengriqi,jdbcType=DATE}, #{sijiXingming,jdbcType=VARCHAR}, #{sijiJialing,jdbcType=VARCHAR},
    #{sijiNianling,jdbcType=VARCHAR}, #{dejipingdingId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ryda.entity.Siji" >
    insert into siji
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sijiId != null" >
        siji_id,
      </if>
      <if test="sijileixigId != null" >
        sijileixig_id,
      </if>
      <if test="jaizhaoleixingId != null" >
        jaizhaoleixing_id,
      </if>
      <if test="diquId != null" >
        diqu_id,
      </if>
      <if test="sijiShoujihao != null" >
        siji_shoujihao,
      </if>
      <if test="sijiSuoshudiqu != null" >
        siji_suoshudiqu,
      </if>
      <if test="sijiChushengriqi != null" >
        siji_chushengriqi,
      </if>
      <if test="sijiXingming != null" >
        siji_xingming,
      </if>
      <if test="sijiJialing != null" >
        siji_jialing,
      </if>
      <if test="sijiNianling != null" >
        siji_nianling,
      </if>
      <if test="dejipingdingId != null" >
        dejipingding_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sijiId != null" >
        #{sijiId,jdbcType=VARCHAR},
      </if>
      <if test="sijileixigId != null" >
        #{sijileixigId,jdbcType=VARCHAR},
      </if>
      <if test="jaizhaoleixingId != null" >
        #{jaizhaoleixingId,jdbcType=VARCHAR},
      </if>
      <if test="diquId != null" >
        #{diquId,jdbcType=VARCHAR},
      </if>
      <if test="sijiShoujihao != null" >
        #{sijiShoujihao,jdbcType=VARCHAR},
      </if>
      <if test="sijiSuoshudiqu != null" >
        #{sijiSuoshudiqu,jdbcType=VARCHAR},
      </if>
      <if test="sijiChushengriqi != null" >
        #{sijiChushengriqi,jdbcType=DATE},
      </if>
      <if test="sijiXingming != null" >
        #{sijiXingming,jdbcType=VARCHAR},
      </if>
      <if test="sijiJialing != null" >
        #{sijiJialing,jdbcType=VARCHAR},
      </if>
      <if test="sijiNianling != null" >
        #{sijiNianling,jdbcType=VARCHAR},
      </if>
      <if test="dejipingdingId != null" >
        #{dejipingdingId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryda.entity.Siji" >
    update siji
    <set >
      <if test="sijileixigId != null" >
        sijileixig_id = #{sijileixigId,jdbcType=VARCHAR},
      </if>
      <if test="jaizhaoleixingId != null" >
        jaizhaoleixing_id = #{jaizhaoleixingId,jdbcType=VARCHAR},
      </if>
      <if test="diquId != null" >
        diqu_id = #{diquId,jdbcType=VARCHAR},
      </if>
      <if test="sijiShoujihao != null" >
        siji_shoujihao = #{sijiShoujihao,jdbcType=VARCHAR},
      </if>
      <if test="sijiSuoshudiqu != null" >
        siji_suoshudiqu = #{sijiSuoshudiqu,jdbcType=VARCHAR},
      </if>
      <if test="sijiChushengriqi != null" >
        siji_chushengriqi = #{sijiChushengriqi,jdbcType=DATE},
      </if>
      <if test="sijiXingming != null" >
        siji_xingming = #{sijiXingming,jdbcType=VARCHAR},
      </if>
      <if test="sijiJialing != null" >
        siji_jialing = #{sijiJialing,jdbcType=VARCHAR},
      </if>
      <if test="sijiNianling != null" >
        siji_nianling = #{sijiNianling,jdbcType=VARCHAR},
      </if>
      <if test="dejipingdingId != null" >
        dejipingding_id = #{dejipingdingId,jdbcType=VARCHAR},
      </if>
    </set>
    where siji_id = #{sijiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryda.entity.Siji" >
    update siji
    set sijileixig_id = #{sijileixigId,jdbcType=VARCHAR},
    jaizhaoleixing_id = #{jaizhaoleixingId,jdbcType=VARCHAR},
    diqu_id = #{diquId,jdbcType=VARCHAR},
    siji_shoujihao = #{sijiShoujihao,jdbcType=VARCHAR},
    siji_suoshudiqu = #{sijiSuoshudiqu,jdbcType=VARCHAR},
    siji_chushengriqi = #{sijiChushengriqi,jdbcType=DATE},
    siji_xingming = #{sijiXingming,jdbcType=VARCHAR},
    siji_jialing = #{sijiJialing,jdbcType=VARCHAR},
    siji_nianling = #{sijiNianling,jdbcType=VARCHAR},
    dejipingding_id = #{dejipingdingId,jdbcType=VARCHAR}
    where siji_id = #{sijiId,jdbcType=VARCHAR}
  </update>
  <select id="querySJLX" resultType="java.util.Map">
    select sijileixig_id,leixing_name
    from sijileixing
  </select>
  <select id="queryJZLX" resultType="java.util.Map">
    select jaizhaoleixing_id,jaizhaoleixing_name
    from jiazhaoleixing
  </select>
  <select id="querySSDQ" resultType="java.util.Map">
    select diqu_id,diqu_name
    from diqu
  </select>
  <select id="queryDJPD" resultType="java.util.Map">
    select siji_dengjiid,dengji
    from siji_dengjipingding
  </select>

  <select id="querySiji" resultType="java.util.Map" parameterType="java.lang.String">
    select *
    from sijijianliview
    <!--  where ${_parameter} -->

  </select>
  <select id="queryCount" resultType="java.lang.Integer" parameterType="java.lang.String">
    select  count(*)
    from sijijianliview
    where ${_parameter}
  </select>
  <select id="querySijiForPage" resultType="java.util.Map" parameterType="java.lang.String">
    select *
    from sijijianliview
    where ${_parameter}

  </select>
</mapper>