<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryda.mapper.SijileixingMapper" >
  <resultMap id="BaseResultMap" type="com.ryda.entity.Sijileixing" >
    <id column="sijileixig_id" property="sijileixigId" jdbcType="VARCHAR" />
    <result column="leixing_name" property="leixingName" jdbcType="VARCHAR" />
    <result column="diqu_name" property="diquName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sijileixig_id, leixing_name, diqu_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sijileixing
    where sijileixig_id = #{sijileixigId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sijileixing
    where sijileixig_id = #{sijileixigId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ryda.entity.Sijileixing" >
    insert into sijileixing (sijileixig_id, leixing_name, diqu_name
      )
    values (#{sijileixigId,jdbcType=VARCHAR}, #{leixingName,jdbcType=VARCHAR}, #{diquName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryda.entity.Sijileixing" >
    insert into sijileixing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sijileixigId != null" >
        sijileixig_id,
      </if>
      <if test="leixingName != null" >
        leixing_name,
      </if>
      <if test="diquName != null" >
        diqu_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sijileixigId != null" >
        #{sijileixigId,jdbcType=VARCHAR},
      </if>
      <if test="leixingName != null" >
        #{leixingName,jdbcType=VARCHAR},
      </if>
      <if test="diquName != null" >
        #{diquName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryda.entity.Sijileixing" >
    update sijileixing
    <set >
      <if test="leixingName != null" >
        leixing_name = #{leixingName,jdbcType=VARCHAR},
      </if>
      <if test="diquName != null" >
        diqu_name = #{diquName,jdbcType=VARCHAR},
      </if>
    </set>
    where sijileixig_id = #{sijileixigId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryda.entity.Sijileixing" >
    update sijileixing
    set leixing_name = #{leixingName,jdbcType=VARCHAR},
      diqu_name = #{diquName,jdbcType=VARCHAR}
    where sijileixig_id = #{sijileixigId,jdbcType=VARCHAR}
  </update>
  
  <select id="querySijileixing" resultMap="BaseResultMap">
  select * from sijileixing  
  </select>

  <select id="checkforrepeat" resultType="java.lang.Integer" parameterType="java.lang.String">
    select  count(*)
    from sijileixing
    where leixing_name like #{leixingName,jdbcType=VARCHAR}
  </select>
</mapper>