.iconfont{width:18px; height:18px; float: left;}

.icon_shengbeiguanli{ background:url(shebeiguanli.png) no-repeat; }
.icon_haocaiguanli{ background:url(haocaiguanli.png) no-repeat; }
.icon_yuyueguanli{ background:url(yuyueguanli.png) no-repeat; }
.icon_yonghuguanli{ background:url(yonghuguanli.png) no-repeat; }
.icon_quanxianguanli{ background:url(quanxianguanli.png) no-repeat; }
.icon_tongjiyuchaxun{ background:url(tongjiyuchaxun.png) no-repeat; }
.icon_jibendangan{ background:url(jibendangan.png) no-repeat; }
.icon_xitongrizhi{ background:url(xitongrizhi.png) no-repeat; }
.icon_gerenshezhi{ background:url(gerenshezhi.png) no-repeat; }
.icon_shiyanshebei{ background:url(shiyanshebei.png) no-repeat; }
.icon_wodeyuyue{ background:url(wodeyuyue.png) no-repeat; }
.icon_gerenxinxi{ background:url(gerenxinxi.png) no-repeat; }
